body {
    background-color: cadetblue;
    width: 100%;
    height: 100%;
    margin: 0;
}

.operation {
  margin: 0;
  position: absolute;
  top: 50%;
  width: 150px;
  height: 150px;
  font-size: 96px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.card {
  margin: 0;
  position: absolute;
  top: 50%;
  width: 150px;
  height: 200px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.playerName {
  margin-bottom: -5%;
}

#cardSpace {
  padding: 5%;
}

.stepButton {
  width: 150px;
  height: 100px;
  margin-left: 6%;
  margin-right: 10%;
}

.callButton {
  width: 70%;
  height: 10%;
  margin-left: 10%;
  margin-bottom: 10%;
  /* margin-top: 10%; */
}