body {
    background-color: cadetblue;
    width: 100%;
    height: 100%;
    margin: 0;
}

.operation {
  margin: 0;
  position: absolute;
  top: 50%;
  width: 150px;
  height: 150px;
  font-size: 96px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.card {
  margin: 0;
  position: absolute;
  top: 50%;
  width: 150px;
  height: 200px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.playerName {
  margin-bottom: -5%;
}

#cardSpace {
  padding: 5%;
}
