body {
    background-color: cadetblue;
    width: 100%;
    height: 100%;
    margin: 0;
}

operation {
  margin: 0;
  top: 50%;
  width: 250px;
  height: 250px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  float: left;
}

card {
  margin: 0;
  top: 50%;
  width: 250px;
  height: 400px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  float: left;
}
